*{
	padding: 0;
	margin: 0;
}
header{
	width: 100%;
	height: 200px;
}
#baner{
	width: 100%;
	height: 160px;
	background-color: green;
}
h1{
	color: #fff;
	font-size: 70px;
	text-align: center;
}
nav{
	width: 100%;
	height: 40px;
	background-color: blue;
}
#about{
	width: 100%;
	height: 300px;
	text-align: center;
}
h2{
	color: red;
	padding: 20px;
	font-size: 35px;

}
#services{
	width: 100%;
	height: 600px;
	background-color: pink;

}
.Sr{
	color: yellow;
	text-align: center;
	font-size: 40px;
}
#box{
	width: 29%;
	height: 370px;
	background-color: #fff;
	float: left;
	margin: 30px;
}
footer{
	width: 100%;
	background-color: #000;
	color: #fff;
	height: 30px;
	text-align: center;
}
